<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="/favicon.ico">
        <title>Bitcop custom report</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
        <script defer="defer" src="{{ url_for('static', path='/js/chunk-vendors.97a294c3.js') }}"></script>
        <script defer="defer" src="{{ url_for('static', path='/js/app.cbabd444.js') }}"></script>
        <link href="{{ url_for('static', path='/css/chunk-vendors.a1392e59.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/css/app.22b6df6d.css') }}" rel="stylesheet">
    </head>
    <body>
        <noscript>
            <strong>We're sorry but bitcop_report doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
    </body>
</html>